
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>
<body>
    <h1><%= farm.name %></h1>
    <ul>
        <li>city:<%= farm.city %></li>
        <li>Email: $<%= farm.email %></li>
    </ul>

    <h2>Products</h2>
    <ul>
        <% for(let product of farm.products){ %>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
            <% } %>
    </ul>
<a href="/farm">All Farms</a>
<a href="/farm/<%= farm._id %>/products/New">Add product</a>

<form action="/farm/<%= farm._id %>?_method=DELETE" method="post">
<button>DELETE</button></form>

</body>
</html>